*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/
/.dart_tool/
/.packages
.pub-cache/
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
